.contenedorAdmin {
    width: 80%;
    background-color: rgba(255,255,255,0.8);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem;
}
.logOut {
    margin: 0.5rem;
}
.campos {
    display: flex;
    justify-content: end;
    color: red; 
}
th {
    width: 12rem;
    border: 1px solid $dk_blue;
    text-align: center;
}
.formularioFr2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    h2 {
        font-size: 2rem;
    }
    label {
        font-size: 1.5rem;
    }
    input, select{
        padding: 0.5rem;
        border-radius: 1rem;
        width: 15rem;
    }
    button {
        width: 15rem;
        border: 0;
        border-radius: 1rem;
        font-size: 1.5rem;
        background-color: $dk_blue;
        color: white;
        font-weight: bold;
    }
}
th {
    background-color: $blue;
}
td {
    font-size: 12px;
    padding: 1rem 0.5rem;
    border: 1px solid $dk_blue;
    height: 5rem;
    button {
        border-radius: 2rem;
        background-color: $blue;
        border: none;
        color: white;
        width: 4rem;
        height: 2rem;
        padding: 0.3rem;
        margin: auto;
        font-weight: bold;
    }
}
td:first-child {
    font-weight: bold;
}
td:last-child {
    display: flex;
    justify-content:space-evenly;
}
.fila-roja {
    background-color: #FFCDD2;
}
.citas {
    display: flex;
    justify-content: space-between;
}
.citasIcon {
    background-color: #FFCDD2;
}
.textSearch {
    font-size: 1.5rem;
}
.search {
    padding: 0.5rem;
    border-radius: 1rem;
    width: 15rem;
}